# Logs
logs/
*.log
*.log.*
npm-debug.log*
yarn-debug.log*
yarn-error.log*
dev-debug.log

# Claude's files and folders
tools/
CLAUDE.md
TODO.md
deprecated/
lawdb/
.github/workflows/

# pycache
__pycache__/
*.pyc
*.wal

# Virtual Environments
venv
venv/
env/
get-docker.sh

# Dependency directories
node_modules/

# Environment variables
.env
configs.yaml
private_configs.yaml


# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.cursor/

# OS specific
.DS_Store

# Task files
tasks.json
tasks/ 

# databases
*.db
*.parquet

# configs


# misc.
*.tmp
*.tmp.*
missing_data.csv
*.Identifier
*.vba

# testing
*.test
.pytest_cache/
**/test_reports/